.header-desc {
  padding: 190px 95px 248px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include vp-1023 {
    padding: 210px 0 255px;
  }
}

.header-desc h1 {
  font-family: $ff-montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: calc((100vw - 768px)/(1366 - 768) * (54 - 50) + 50px);
  line-height: calc((100vw - 768px)/(1366 - 768) * (66 - 61) + 61px);
  color: #f9fbfd;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 0;
}

.header-desc p {
  font-family: $ff-montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: calc((100vw - 768px)/(1366 - 768) * (20 - 18) + 18px);
  line-height: calc((100vw - 768px)/(1366 - 768) * (24 - 22) + 22px);
  color: #f9fbfd;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 0;
}
