.header-wrapper {
  padding: 35px 7.54vw;
  background-image: url("../img/bg-header.webp");
  background-color: #00ccff;
  background-size: cover;
  background-repeat: no-repeat;

  @include vp-1023 {
    padding: 29px 5.86vw;
  }

  @include vp-767 {
    padding: 20px 15px;
  }
}
